<%= form_tag("/users/pictures/#{@picture.id}", method: :patch) do %>
    <div class="field">
        <%= label_tag :url, "Image URL: " %>
        <%= text_field_tag :url, @picture.url %>
    </div>
    <div class="field">
        <%= label_tag :tags_string, "Tags: " %>
        <%= text_field_tag :tags_string, @picture.tags.map {|t| t.tag}.join(', ') %>
    </div>
    <div class="field">
        <%= submit_tag "Update" %>
    </div>
<% end %>
