<div class="container" >
    <div class="grid">
        <div class="grid-sizer"></div>
        <% @pictures.each do |f| %>
          <div class="grid-item">
            <img src="<%= f.url %>" href="<%= f.url %>"  hrefto="/pictures/<%= f.id %>" rel="pictures" />
          </div>
        <% end %>
    </div>
</div>
<div class="container">
    <%= link_to_previous_page @pictures, 'Previous', :params =>{"tags"=>@page_tags},class: "btn btn-primary btn-lg active"%>
    <%= link_to_next_page @pictures, 'Next', :params => {"tags" => @page_tags},class: "btn btn-primary btn-lg active" %>
</div>

<script type="text/javascript">
 var currentPage = 1;
 var isFetching = false;
 <% unless @page.nil? %>
 currentPage = <%= @page %>
 <% end %>
 var $grid = $('.grid').masonry({
   itemSelector: '.grid-item',
   columnWidth: '.grid-sizer',
   percentPosition: true
 });
 //GRID LAYOUT
 $grid.imagesLoaded().progress(function(){
   $grid.masonry('layout');
 });
 $.colorbox.remove();
 $('img').colorbox({rel: 'pictures', photo:true});
 // Set action to info button 'I'
  $("#cboxInfo").click(function(){
    var $image_tag = $.colorbox.element();
    console.log($image_tag.attr('hrefto'));
    window.location.href = $image_tag.attr('hrefto');
  });
 //Actions
 $(window).scroll(function(){
   var e = $(window);
   if(e.scrollTop() + e.height() == $(document).height()){
     if(isFetching == false){
       var promise = loadMoreImage();
       promise.then(function(data){
         isFetching = false;
         currentPage++;
         for(var i in data.images){
           var dom = $("<div class='grid-item'>" + data.images[i][1] + "</div");
           $grid.append(dom);
           $grid.imagesLoaded(function(){
             $grid.masonry('reloadItems').masonry();
           });
         }
       }, function(data){
         isFetching = false;
         console.log("Error: " + data);
       });
     }
   }
 });
 function loadMoreImage(){
   return new Promise(function(resolve, reject){
     isFetching = true;
     $.ajax({
       url: "/pictures/loadAjaxAllImage",
       data: {
         page: currentPage + 1
       },
       dataType: "json",
       method: "GET",
       error: function(xhr, status, error){
         reject(error);
       },
       success: function(data, status, xhr){
         resolve(data);
       }
     });
   });
 }
</script>
