<div class="container" >
    <div class="grid">
        <div class="grid-sizer"></div>
        <% @pictures.each do |f| %>
            <div class="grid-item">
              <img src="<%= f.url %>" href="<%= f.url %>"  hrefto="/pictures/<%= f.id %>" rel="pictures" />
            </div>
        <% end %>
    </div>
</div>
<div class="container">
    <%= link_to_previous_page @pictures, 'Previous', :params =>{"tags"=>@page_tags},class: "btn btn-primary btn-lg active"%>
    <%= link_to_next_page @pictures, 'Next', :params => {"tags" => @page_tags},class: "btn btn-primary btn-lg active" %>
</div>
