<div class="container" >
    <div class="photoset-grid-lightbox" data-layout="3323" style="visibility:hidden;">
        <% @pictures.each do |f| %>
            <% if true  %>
                <% if f.url[-4..-1] == '.gif' %>
                    <img src="/assets/loading.jpeg"  hrefto="/pictures/<%= f.id %>" static="false" gif-source="<%= f.url %>" />
                <% else %>
                    <img src="<%= f.url %>"  hrefto="/pictures/<%= f.id %>" static="true" />
                <% end %>
            <% end %>
            
        <% end %>
    </div>
</div>
<div class="container">
    <%= link_to_previous_page @pictures, 'Previous', :params =>{"tags"=>@page_tags},class: "btn btn-primary btn-lg active"%>
    <%= link_to_next_page @pictures, 'Next', :params => {"tags" => @page_tags},class: "btn btn-primary btn-lg active" %>
</div>

<script type="text/javascript">
 $(document).ready(function(){
     imgDomArray = [];
     imgURLDomArray = [];
     a = $("img[static$='false']").length;
     $("img[static$='false']").each(function(){
         imgDomArray.push($(this));
         imgURLDomArray.push($(this).attr("gif-source"));
     });

     
     
 });
</script>
