<%= form_for @picture, url: {controller: "pictures", action: "create"} do |f|%>
	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">Tags</span>
    <%= f.fields_for @tag do |builder|%>
        <%= builder.text_field :tags, class: "form-control", placeholder: "Tags"%>
    <% end %>
	</div>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">Url</span>
		<%= f.text_field :url, class: "form-control", placeholder: "Url"%>
	</div>
	<%= f.submit "Create", class: "btn btn-default"%> 
<% end %>
