<p id="notice"><%= notice %></p>
<p>
    <strong>Tags:</strong>
    <% for counter in 0...@picture.tags.size %>
        <a href="/tags/<%=@picture.tags[counter].tag %>">
            <% if counter == @picture.tags.size - 1 %>
                <%= @picture.tags[counter].tag %>
            <% else %>
                <%= @picture.tags[counter].tag %>, 
            <% end%>
        </a>
    <% end  %>
</p>

<p>
  <img class="img-responsive"src="<%= @picture.url %>"/>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Delete', @picture, :method => :delete, :data => {:confirm => "Are you sure ?"} %> |
<%= link_to 'Back', pictures_path %>
